root = true

[*]
charset = utf-8
end_of_line = LF
indent_size = 4
indent_style = space

[{Makefile,*.go}]
indent_style = tab

[*.{yml,yaml,json,ts,js,mjs,tsx,jsx,cjs}]
indent_size = 2

[*.md]
max_line_length = 80
